@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap");

/* font start */
/* Futura Medium Italic */
@font-face {
  font-family: "FuturaMediumItalicBT";
  src: url("font/Futura-Md-BT-Font/FuturaMediumItalicBT.ttf") format("truetype");
}

/* Futura Medium */
@font-face {
  font-family: "FuturaMediumBT";
  src: url("font/Futura-Md-BT-Font/FuturaMediumBT.ttf") format("truetype");
}

/* Futura Bold Italic */
@font-face {
  font-family: "FuturaBoldItalicBT";
  src: url("font/Futura-Md-BT-Font/FuturaBoldItalicBT.ttf") format("truetype");
}

/* Futura Bold */
@font-face {
  font-family: "FuturaBoldBT";
  src: url("font/Futura-Md-BT-Font/FuturaBoldBT.ttf") format("truetype");
}

/* Futura Medium Italic (alternative) */
@font-face {
  font-family: "FutuMdIt";
  src: url("font/Futura-Md-BT-Font/FutuMdIt.ttf") format("truetype");
}

/* Futura Medium (alternative) */
@font-face {
  font-family: "FutuMd";
  src: url("font/Futura-Md-BT-Font/FutuMd.ttf") format("truetype");
}

/* Futura Bold Italic (alternative) */
@font-face {
  font-family: "FutuBdIt";
  src: url("font/Futura-Md-BT-Font/FutuBdIt.ttf") format("truetype");
}

/* Futura Bold (alternative) */
@font-face {
  font-family: "FutuBd";
  src: url("font/Futura-Md-BT-Font/FutuBd.ttf") format("truetype");
}

/* font end here */

/* Global css start here */
.container {
  max-width: 85%;
}
body {
  font-family: "DM Sans", sans-serif;
}
.btnGrey {
  border-color: hsla(204, 80%, 20%, 0.2);
  background-color: hsla(204, 81%, 20%, 0.1);
}
.secondary_heading {
  font-family: "FuturaMediumBT", sans-serif;
}
.section_heading {
  font-family: "FuturaMediumBT", sans-serif;
  font-size: 42px;
  line-height: 60px;
  font-weight: 600;
}
.section_para {
  line-height: 30px;
}
/* Global css end here */

/* header CSS start from here */
header {
  background-image: url(../assets/headerBG.png);
  /* min-height: 100vh; */
}

.navlinks a {
  color: #2b2b2b;
  font-size: 16px;
  font-weight: 500;
}

[aria-current="page"] {
  color: #0a3c5e !important;
}

.siteLogo img {
  position: absolute;
  height: 106px;
  top: 0;
  transform: translateX(-52%);
}

.secondary_nav span {
  font-size: 14px;
}

.secondary_nav span i {
  transform: translateY(1px);
  font-size: 14px;
}

.hero_content h1 {
  font-size: 70px;
  line-height: normal;
  font-family: "FuturaMediumItalicBT", sans-serif;
}

.hero_content h1 span {
  font-family: "FuturaMediumBT", sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  color: transparent;
}

/* our records section start from here */
.record_box h2 {
  font-size: 28px;
  font-family: "FuturaBoldItalicBT", sans-serif;
  font-weight: bold;
}

.record_box p {
  font-size: 18px;
}

.record_box {
  background-image: url(../assets/scale.png);
  background-position: right;
  background-size: auto;
  background-repeat: no-repeat;
  padding-right: 50px;
}

/* about us section start from here */
#aboutUs {
  background-image: url(../assets/about-us.png);
  background-size: cover;
}
