@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap");

/* font start */
/* Futura Medium Italic */
@font-face {
  font-family: "FuturaMediumItalicBT";
  src: url("font/Futura-Md-BT-Font/FuturaMediumItalicBT.ttf") format("truetype");
}

/* Futura Medium */
@font-face {
  font-family: "FuturaMediumBT";
  src: url("font/Futura-Md-BT-Font/FuturaMediumBT.ttf") format("truetype");
}

/* Futura Bold Italic */
@font-face {
  font-family: "FuturaBoldItalicBT";
  src: url("font/Futura-Md-BT-Font/FuturaBoldItalicBT.ttf") format("truetype");
}

/* Futura Bold */
@font-face {
  font-family: "FuturaBoldBT";
  src: url("font/Futura-Md-BT-Font/FuturaBoldBT.ttf") format("truetype");
}

/* Futura Medium Italic (alternative) */
@font-face {
  font-family: "FutuMdIt";
  src: url("font/Futura-Md-BT-Font/FutuMdIt.ttf") format("truetype");
}

/* Futura Medium (alternative) */
@font-face {
  font-family: "FutuMd";
  src: url("font/Futura-Md-BT-Font/FutuMd.ttf") format("truetype");
}

/* Futura Bold Italic (alternative) */
@font-face {
  font-family: "FutuBdIt";
  src: url("font/Futura-Md-BT-Font/FutuBdIt.ttf") format("truetype");
}

/* Futura Bold (alternative) */
@font-face {
  font-family: "FutuBd";
  src: url("font/Futura-Md-BT-Font/FutuBd.ttf") format("truetype");
}

/* heading */
h1,
h2,
h3,
h4,
h4,
h5 {
  font-family: "FuturaMediumBT", sans-serif;
}

/* Css for pause button */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes triangleStroke {
  from {
    stroke-dashoffset: 90;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes smallScale {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

.containerr {
  position: absolute;
  right: 27%;
  top: 75%;
  z-index: 9999999;
  transform: translateY(180%);
}

.button {
  display: inline-block;
  position: relative;
}

.button.is-play {
  /* background-color: #fff; */
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.button.is-play .button-outer-circle {
  background: hsla(204, 81%, 20%, 0.5);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.button.is-play .button-icon {
  position: absolute;
  top: 82%;
  left: 52%;
  width: 30px;
  height: 100px;
  transform: translate(-50%, -50%);
}

.button.is-play .button-icon .triangle {
  animation: fadeIn 7s ease;
}

.button.is-play .button-icon .path {
  stroke-dasharray: 90;
  stroke-dashoffset: 0;
  animation: triangleStroke 3s;
  animation-timing-function: ease;
}

.has-scale-animation {
  animation: smallScale 3s infinite;
}

.has-delay-short {
  animation-delay: 0.5s;
}

/* swiper  */
.swiper {
  width: 100%;
  height: 100%;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.swiper-pagination {
  text-align: left;
  padding-left: 30px;
}

.swiper-pagination-bullet {
  background-color: #0a3c5e !important;
  opacity: 1;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  transform: scale(1.2);
}

/* Css for pause button end here */

/* font end here */

/* Global css start here */
.container {
  max-width: 85%;
}
body {
  font-family: "DM Sans", sans-serif;
}
.btnGrey {
  border-color: hsla(204, 80%, 20%, 0.2);
  background-color: hsla(204, 81%, 20%, 0.1);
}
.secondary_heading {
  font-family: "FuturaMediumBT", sans-serif;
}
.section_heading {
  font-family: "FuturaMediumBT", sans-serif;
  font-size: 42px;
  line-height: 60px;
  font-weight: 600;
}
.section_para {
  line-height: 30px;
}
/* Global css end here */

/* header CSS start from here */
header {
  background-image: url(../assets/headerBG.png);
  /* min-height: 100vh; */
}

.navlinks a {
  color: #2b2b2b;
  font-size: 16px;
  font-weight: 500;
}

[aria-current="page"] {
  color: #0a3c5e !important;
}

.siteLogo img {
  position: absolute;
  height: 106px;
  top: 0;
  transform: translateX(-52%);
}

.secondary_nav span {
  font-size: 14px;
}

.secondary_nav span i {
  transform: translateY(1px);
  font-size: 14px;
}

.hero_content h1 {
  font-size: 70px;
  line-height: normal;
  font-family: "FuturaMediumItalicBT", sans-serif;
}

.hero_content h1 span {
  font-family: "FuturaMediumBT", sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  color: transparent;
}

/* our records section start from here */
.record_box h2 {
  font-size: 28px;
  font-family: "FuturaBoldItalicBT", sans-serif;
  font-weight: bold;
}

.record_box p {
  font-size: 18px;
}

.record_box {
  background-image: url(../assets/scale.png);
  background-position: right;
  background-size: auto;
  background-repeat: no-repeat;
  padding-right: 50px;
}

/* about us section start from here */
#aboutUs {
  background-image: url(../assets/about-us.png);
  background-size: cover;
}

/* services section start from here */
#services {
  background-image: url(../assets/services_bg.png);
  background-size: cover;
}

.case_types {
  transform: translateY(20%);
}

.case_text {
  background-color: #0a3c5ea4;
  height: 45%;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  transition: 0.3s;
  cursor: pointer;
}

.case_card:hover .case_text {
  height: 100%;
}

.case_text h3 {
  font-size: 22px;
}

.case_card {
  min-height: 500px;
}

/* consultation start from here */
#consultation {
  background-image: url(../assets/consultation.png);
  background-size: cover;
}

/* client stories section start from here */

#testimoial {
  background-image: url(../assets/feedback_bg.png);
}

.feedback_content {
  /* position: absolute;
  bottom: 7%;
  background: #fff;
  width: 39%; */
  background-color: #fff;
  box-shadow: 0px 10px 40px rgba(10, 60, 94, 0.08);
  transform: translateY(26%);
  width: 80%;
  position: relative;
  z-index: 0;
}

.feedback_bg img {
  position: absolute;
  max-width: 90%;
  right: 0;
  z-index: 99999;
}

.feedback_content q {
  line-height: 30px;
}

.feedback_content_inner {
  width: 50%;
}

/* client stories end here */

/* actnow section css start from here */

#actnow {
  background-image: url(../assets/actnow.png);
  background-size: cover;
}

footer {
  background-image: url(../assets/footer_bg.png);
  background-size: cover;
}

footer p {
  opacity: 0.9;
}

.footer_text h2 {
  font-size: 36px;
}
